# Virtual Environment
venv/

# Environment files
.env
*.env
.env.local
.env.development
.env.test
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
app.log

# Thumbnails and uploads
static/uploads/
static/thumbnails/
!static/uploads/.gitkeep
!static/thumbnails/.gitkeep

# IDE and OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db

# Backup Files
*.bak

# Database
instance/movies.db
*.db
